<div class="menu">
  <% if (loggedInUser && loggedInUser.username) { %>
  <div class="menu-item"><a href="/inbox">Inbox</a></div>
  <div class="menu-item"><a href="/users">Users</a></div>
  <div class="menu-item"><a href="#" onclick="logout()">Logout</a></div>
  <% } else { %>
  <div class="menu-item"><a href="/inbox">Inbox</a></div>
  <div class="menu-item"><a href="/users">Users</a></div>
  <div class="menu-item"><a href="/">Login</a></div>
  <% } %>
</div>
<script>
   // toast
   const logoutToast = Toastify({
     text: "You are being logged out...",
     duration: 1000,
   });
  async function logout() {
    console.log("i am clicked")
     await fetch("/", {
       method: "DELETE",
     });
     logoutToast.showToast();
     setTimeout(() => {
      await window.location.replace("/"); // will redirect to index page after 1 sec loading
     }, 1000);
   }
</script>
